{% extends 'base.html' %}
{% block content %}
    <main class="recipe-grid">
        <div class="recipe-card">
            <h2 class="recipe-card-title">My Cart</h2>
            <h3>
                <a href="{% url 'shopping_items_delete' %}">Delete Entire Cart</a>
            </h3>
            {% for item in cart %}<p>{{ item.food_item }}</p>{% endfor %}
        </div>
    </main>
{% endblock content %}
