{% extends 'base.html' %}
{% load custom_filters %}
{% load markdownify %}
{% block content %}
    <main class="recipe-detail">
        <div>
            <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
            <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
        </div>
        {% if recipe.image %}<img src="{{ recipe.image }}" class="pull-right">{% endif %}
        <h1>{{ recipe.name }}</h1>
        <h2>{{ recipe.author | default_if_none:"Unknown" }}</h2>
        <p>
            Created on {{ recipe.created }} |
            Updated by {{ recipe.updated_by }} |
            Updated on {{ recipe.updated }}
        </p>
        <form method="post" action="{% url 'recipe_rating' recipe.id %}">
            {% csrf_token %}
            <div class="rating-form-grid">
                {{ rating_form.as_p }}
                <button class="button">Rate</button>
            </div>
        </form>
        <p>
            Tags:
            {% for tag in recipe.tags.all %}{{ tag.word }}{% endfor %}
        </p>
        {{ recipe.description | markdownify }}
        <h2>Ingredients</h2>
        <h3>Serves: {{ servings }}</h3>
        <form method="post" action="{% url 'recipe_detail' recipe.id %}">
            {% csrf_token %}
            <input type="number"
                   name="serving_size"
                   id="serving_size"
                   min="1"
                   step="1"
                   value="1">
            <button>Update Serving Size</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Amount</th>
                    <th></th>
                    <th>Food item</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe.ingredients.all %}
                    <tr>
                        <td>{{ ingredient|resize_to:servings }}</td>
                        <td>{{ ingredient.measure.name }}</td>
                        <td>{{ ingredient.food.name }}</td>
                        <td>
                            {% if ingredient.food in food_list %}
                                <p>In your list</p>
                            {% else %}
                                <form method="post" action="{% url 'shopping_item_create' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                                    <button>Add to Cart</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe.steps.all %}<li>{{ step.directions }}</li>{% endfor %}
        </ol>
    </main>
{% endblock content %}
