{% extends 'paginate.html' %}
{% block content %}
    <main class="recipe-grid">
        {% for user in user_list %}
            <div class="recipe-card">
                <h2 class="recipe-card-title">{{ user.username }}</h2>
                {% for recipe in user.recipes.all %}<p>{{ recipe.name }}</p>{% endfor %}
            </div>
        {% endfor %}
    </main>
{% endblock content %}
