{% extends 'base.html' %}
{% block content %}
    <main class="recipe-detail">
        <div>
            <a href="{% url 'meal_plan_edit' plan.id %}">Edit</a>
            <a href="{% url 'meal_plan_delete' plan.id %}">Delete</a>
        </div>
        <h1>{{ plan.name }}</h1>
        <h2>{{ plan.owner }}</h2>
        <p>
            Date to be served: {{ plan.date }}
        </p>
        <h2>Recipes:</h2>
        {% for recipe in plan.recipes.all %}
            <p><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</p></a>
        {% endfor %}
    </main>
{% endblock content %}
