{% extends 'paginate.html' %}
{% block content %}
    <h3><a href="{% url 'meal_plan_create' %}">Create a New Meal Plan</a></h3>
    <main class="recipe-grid">
        {% for plan in meal_plans %}
            <div class="recipe-card">
                <h2 class="recipe-card-title">
                    <a href="{% url 'meal_plan_detail' plan.id %}">{{ plan.name }}</a>
                </h2>
                {% for recipe in plan.recipes.all %}
                    <p>{{ recipe.name }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </main>
{% endblock content %}
